* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  font-weight: 700;
  text-align: center;
  color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(64, 74, 101);
}

#firstHead {
  font-size: 2.5rem;
  font-weight: 700;
  padding-bottom: 2rem;
}

main p {
  padding-bottom: 2rem;
}

img {
  padding-bottom: 2rem;
  cursor: pointer;
}

  
.flip {
  animation-name: flip;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

 
.spin {
  animation-name: spin;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}


@keyframes flip {
  0% { transform: rotateY(0deg); }
  50% { transform: rotateY(90deg); }   
  100% { transform: rotateY(180deg); } 
}

 
@keyframes spin {
  0% { transform: rotateY(0deg); }
  49% { transform: rotateY(720deg); }  
  50% { transform: rotateY(810deg); }  
  100% { transform: rotateY(900deg); } 
}

.author-info {
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
  color: rgb(55, 65, 81);
}

button {
  padding: 10px 25px;
  font-weight: bold;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: rgb(31,109,174);
  color: white;
  background-color: rgb(31, 109, 174);
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.1s;
}

button:hover {
  background-color: rgb(52, 122, 179);
}

button:active {
  background-color: rgb(21, 71, 112);
}

.author-info a {
  text-decoration: none;
}